.clamps-about {
  display: flex;

  @include media('<small') {
    flex-direction: column-reverse;
  }

  &-text {
    width: calc(50% - 20px);
    padding-right: 20px;
    margin: 45px 0 60px;
    font-family: 'Gotham Pro';
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.5;

    @include media('<small') {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }

  &-image {
    width: calc(50% - 20px);
    padding-left: 20px;
    text-align: center;
    margin-bottom: -150px;

    @include media('<small') {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-element {
      width: 100%;
      max-width: 315px;
      position: relative;
      top: -100px;

      @include media('<small') {
        top: auto;
        position: static;
        width: 200px;
        margin: 20px auto;
      }
    }
  }
}